<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>
<% if user != current_user %>
  <% if current_user.followings.include?(user) %>
    <td><%= link_to "Unfollow", unfollow_user_path(user) %></td>
  <% else %>
    <td><%= link_to "Follow", follow_user_path(user) %></td>
  <% end %>
<% end %>
